<!DOCTYPE html>
<html>
<head>
    <title>Pack Shipment</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <form action="/check" method="post">
        <label for="inputValue" class="label">Number of items:</label>
        <input type="text" id="inputValue" name="inputValue">
        <button type="submit" class="styled-button">Check</button>
        <button type="submit" class="styled-button">Update Pack</button>
        <button type="submit" class="styled-button">Remove Pack</button>
    </form>
</body>
</html>