<!DOCTYPE html>
<html>
<head>
    <title>Pack Shipment</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <form method="get" id="packForm">
        <button type="button" class="styled-button" onclick="order()">Order Items</button>
        <button type="button" class="styled-button" onclick="add()">Add Pack</button>
        <button type="button" class="styled-button" onclick="update()">Update Pack</button>
        <button type="button" class="styled-button" onclick="remove()">Remove Pack</button>
    </form>
    
</body>
</html>
