<!DOCTYPE html>
<html>
<head>
    <title>Pack Shipment</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <form method="post" id="packForm">
        <label for="currentsize" class="label">Current Pack Size:</label>
        <input type="text" id="currentsize" name="currentsize">
        <label for="updatesize" class="label">Updated Pack Size:</label>
        <input type="text" id="updatesize" name="updatesize">
        <button type="button" class="styled-button" onclick="updatePack()">Update</button>
        <button type="button" onclick="window.location.href='/'" class="styled-button">Go Back</button>
    </form>
</body>
</html>
